<component name="ArtifactManager">
  <artifact type="war" name="spring-boot-web:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springboot-web.war">
      <element id="artifact" artifact-name="spring-boot-web:war exploded" />
    </root>
  </artifact>
</component>